
h1
{
	color: red; 
	font-size: 40px;
}
.body_background {
	background-image:url("bg1.jpg");
	background-size: cover;

}

#mycanvas{
	border-style: ridge;
 background-color: ghostwhite ;
 border-width: 10px;
 


}
